@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #f2f2ef5e;
}




/* SERVICES

*/
.horizontalLineCard{
  width: 100px;
  height:2px;
  border: 2px solid #fb653e;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 10px;
  background-color: #fb653e;
}


/* FOOTER */

.vertical_line {
  border-left: 1px solid #ffffff;
  height: 100px;
  width: 1px;
}


.horizontalLineFooter{
  height: 1px;
  width: 300px;
  border:1px solid #ffffff;
}
